body {
    font-family: "proxima-nova", sans-serif;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
}

.top-bg {
    position: absolute;
    left: 0;
    top: 0;
    /* background: #000; */
    background-repeat: repeat;
    height: calc(776px - 140px);
    width: 100%;
    color: white;
}

#slider-box {
    position: relative;
    height: 707px;
    width: 75%;
    margin-left: 50px
}

#slider-img {
    position: relative;
    height: 707px;
    width: 75%;
    margin-left: 243px;
    margin-top: 135px;
}

#slider-img img {
    transition: all 0.5s linear;
    position: absolute;
    opacity: 0;
    width: 100%;
}

#btn-slide-img {
    position: absolute;
    top: 0;
    right: 4%;
    display: flex;
    flex-direction: column;
}

#slider-box article {
    transition: all 0.5s linear;
    position: absolute;
    left: 0;
    top: 0;
}

#slider-box>div:nth-child(2) {
    position: absolute;
    top: 0;
    right: -10%;
    display: flex;
    flex-direction: column;
}

.link-a {
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: black;
    padding: 30px;
}

.proj {
    position: relative;
    opacity: 0;
}

.proj img {
    width: 100%;
}

.proj p {
    display: inline;
    padding: 20px;
}

.titre-left {
    border-right: solid 1px;
}

.btn-carou {
    border-radius: 50%;
    cursor: pointer;
    background-color: #333333;
    width: 40px;
    height: 40px;
    color: #959595;
    border: 0px;
    margin: 8px;
}

.btn-carou:hover {
    background-color: #808080;
    color: white;
}

#etudarchi {
    display: flex;
}

#ngh {
    display: flex;
    padding-left: 50px;
}

.gauche {
    width: 35%;
    padding: 0 50px;
}

.droite {
    background-color: black;
    color: white;
    flex-grow: 2;
    padding: 50px;
}

.droite-white {
    flex-grow: 2;
    padding: 61.4px 4% 40px 12%;
}

.gauche>h1:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 35px;
}

.gauche>h3:nth-child(2) {
    margin-bottom: 65px;
    margin-top: 0px;
}

.titre-liste {
    margin-top: 0px;
    margin-bottom: 35px;
}

#ngh>img:nth-child(1) {
    height: 680.817px;
}

#flex-wis {
    margin-left: 243px;
    width: 60%;
}

#wis-col {
    display: flex;
}

div.textes-container:nth-child(2) {
    width: 50%;
}

div.textes-container:nth-child(1) {
    width: 50%;
}

#block-banner {
    height: 527px;
    position: relative;
    background-repeat: round;
    width: 100%;
}

#block-banner>#content {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    height: 100%;
}

#content>a:nth-child(1) {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 60px 15% 60px 5%;
}

#content>a:nth-child(1)>div:nth-child(2) {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

#content>a:nth-child(1)>p:nth-child(2) {
    font-weight: bold;
}

#content>a:nth-child(1)>h2:nth-child(1) {
    font-size: 33px;
}

div.textes-container:nth-child(1)>div:nth-child(1)>p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.2px;
}

div.textes-container:nth-child(2)>div:nth-child(1)>ul:nth-child(2) {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.2px;
}

div.textes-container:nth-child(2)>div:nth-child(1)>p:nth-child(1) {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.2px;
}

div.textes-container:nth-child(2)>div:nth-child(1) {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1.2px;
}


/* partie a propos */

#slider-imgs {
    position: relative;
    height: 707px;
    width: 100%;
    margin-left: 75px;
}

#slider-imgs img {
    transition: all 0.5s linear;
    position: absolute;
    opacity: 0;
    width: 80%;
}

#slider-imgs>div:nth-child(10) {
    position: absolute;
    top: 0;
    right: -10%;
    display: flex;
    flex-direction: column;
}

body>div:nth-child(3) {
    display: flex;
}

body>div:nth-child(3)>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -200px;
}