body {
    font-family: "proxima-nova", sans-serif;
    color: black;
}

.top-bg {
    position: absolute;
    left: 0;
    top: 0;
    /* background: #000; */
    background-repeat: repeat;
    height: calc(776px - 140px);
    width: 100%;
    color: white;
}

#slider-box {
    position: relative;
    height: 707px;
    width: 75%;
}

#slider-box article {
    transition: all 0.5s linear;
    position: absolute;
    left: 0;
    top: 0;
}

#slider-box>div:nth-child(2) {
    position: absolute;
    top: 0;
    right: -10%;
    display: flex;
    flex-direction: column;
}

.link-a {
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: black;
    padding: 30px;
}

.proj {
    position: relative;
    opacity: 0;
}

.proj img {
    width: 100%;
}

.proj p {
    display: inline;
    padding: 20px;
}

.titre-left {
    border-right: solid 1px;
}

.btn-carou {
    border-radius: 50%;
    cursor: pointer;
    background-color: #333333;
    width: 40px;
    height: 40px;
    color: #959595;
    border: 0px;
    margin: 8px;
}

.btn-carou:hover {
    background-color: #808080;
    color: white;
}